<nav class="flex md:flex-col justify-center gap-2 px-2">
  @for (route of routes; track route.path) {
    <a
      class="flex flex-col gap-1 text-center p-1 md:p-2 rounded-md md:hover:text-teal-100 md:hover:bg-teal-300 md:hover:bg-opacity-20"
      routerLinkActive="text-teal-100"
      [routerLink]=[route.path]>
      <div
        class="flex justify-center px-5 py-1 rounded-full"
        routerLinkActive="align-middle bg-teal-300 bg-opacity-20">
        <ng-heroicons [icon]="route.icon"></ng-heroicons>
      </div>
      <p class="text-xs">{{ route.label }}</p>
    </a>
  }
</nav>
